@model IEnumerable<TrekkEnterpriseV4.Models.Enterprise>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        @*<th>
            @Html.DisplayNameFor(model => model.ID)
        </th>*@
        <th>
            Client
        </th>
        <th>
            Parent
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Route)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.AccessCode)
        </th>*@
        <th>
            @Html.DisplayNameFor(model => model.IsAndroid)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.ApkName)
        </th>*@
       
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th>
            Download Link
        </th>
        <th>
            Last Modified
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>*@
        @*<th>
            @Html.DisplayNameFor(model => model.DownloadCount)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        @*<td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Client.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Parent.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Route)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.AccessCode)
        </td>*@
        <td>
            @if (item.IsAndroid)
            {
                <span style="color:green">Y</span>
            }

            else
            {
                <span style="color:red">N</span>
            }
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.ApkName)
        </td>*@
       
        <td>
            @if (item.Enabled)
            {
                <span style="color:green">Y</span>
            }

            else
            {
                <span style="color:red">N</span>
            }
        </td>
        <td>
            @if (item.Enabled)
            {
                if (item.IsAndroid)
                {
                    <a href="mailto:?Subject=TREKK%20-%20App%20Download%20Link&body=Click%20the%20link%20to%20download:%0A%0A%20https://trekkenterprise.com/appdownloads/@(item.Route)/@(item.ApkName)">Send Link</a>
                }

                else
                {
                    <a href="mailto:?Subject=TREKK%20-%20App%20Download%20Link&body=Click%20the%20link%20to%20download:%0A%0A%20https://trekkenterprise.com/appdownloads/@(item.Route)/manifest.plist">Send Link</a>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateModified)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>*@
        @*<td>
            @Html.DisplayFor(modelItem => item.DownloadCount)
        </td>*@
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
